<form action="/wishlist" method="POST">
  <button
    type="submit"
    class="text-lg bg-pink-500 text-white w-full py-2 px-4 cursor-pointer"
  >
    Add to Wishlist
  </button>
  <input type="hidden" name="id" value="<%= book.id %>" />
</form>
